@import '../../../styles.scss';

section {
    @include flex-center();
    flex-direction: column;
    padding: 25px;
    gap: 25px;
    background: linear-gradient(90deg, rgba(235, 52, 96, 1) 0%, rgb(255, 101, 137) 50%, rgba(235, 52, 96, 1) 100%);

    >h1 {
        font-family: 'Inter' !important;
        font-size: 36px;
        margin: 0;
    }

    >input {
        font-size: 24px;
        border: 1px solid gray;
        border-radius: 5px;
        padding: 7px;

        &:focus {
            outline: unset;
        }
    }

    >div {
        display: flex;
        gap: 25px;

        >button {
            font-size: 20px;
            padding: 15px;
        }
    }
}