section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 10vh;
    background: linear-gradient(90deg, rgba(235, 52, 96, 1) 0%, rgb(255, 101, 137) 50%, rgba(235, 52, 96, 1) 100%);

    >h1 {
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 90px;
        font-weight: 700;
        margin: 0;
        letter-spacing: 5px;
        background-color: white;
        padding: 25px;
        border-radius: 10px;
        box-shadow: 0px 10px 5px rgb(235, 23, 72);

        >div {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: -31px;
            gap: 5px;

            >img {
                height: auto;
                width: 20px;
                margin-right: 5px;
            }
        }

        >img {
            height: 90px;
            margin-bottom: -10px;
            margin-left: 25px;
        }

        &::before {
            content: '';
            position: absolute;
            width: 100px;
            height: 100%;
            background-image: linear-gradient(120deg,
                    rgba(255, 255, 255, 0) 30%,
                    rgba(255, 255, 255, .8),
                    rgba(255, 255, 255, 0) 70%);
            top: 0;
            left: -100px;
            animation: shine 3s infinite linear;
        }
    }

    h2 {
        font-size: 64px;
        font-weight: 700;
        letter-spacing: 5px;
        margin: 0;
    }
}

menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f5f5f5;
    border-radius: 10px;
    border: 3px solid black;
    padding: 50px;
    gap: 5vh;
    box-shadow: 0px 10px 5px rgb(235, 23, 72);
}

a {
    cursor: pointer;
    padding: 25px 75px;
    border-radius: 50px;
    border: 3px solid black;
    background: linear-gradient(90deg, rgba(235, 52, 96, 1) 0%, rgb(255, 101, 137) 50%, rgba(235, 52, 96, 1) 100%);
    transition: all 100ms ease-in-out;
    box-shadow: 0px 10px 0px rgb(235, 23, 72);
    text-decoration: none;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &:hover {
        transform: scale(1.1);
        filter: saturate(2);
    }

    &:active {
        transform: scale(0.9);
        box-shadow: 0px 7px 0px rgb(235, 23, 72);
    }

    &::before {
        content: '';
        position: absolute;
        width: 100px;
        height: 100%;
        background-image: linear-gradient(120deg,
                rgba(255, 255, 255, 0) 30%,
                rgba(255, 255, 255, .8),
                rgba(255, 255, 255, 0) 70%);
        top: 0;
        left: -100px;
        animation: shine 3s infinite linear;
    }
}

@keyframes shine {
    0% {
        left: -100px
    }

    20% {
        left: 100%
    }

    100% {
        left: 100%
    }
}

@media screen and (max-width: 768px) {
    section {
        gap: 7vh;
        >h1 {
            font-size: 60px;
            letter-spacing: 3px;
            padding: 15px;
            margin-top: 0;

            >img {
                height: 55px;
                margin-bottom: -5px;
                margin-left: 15px;
            }

            >div {
                margin-top: -23px;
                gap: 0;

                >img {
                    width: 15px;
                }
            }
        }

        h2 {
            font-size: 40px;
            letter-spacing: 3px;
        }
    }

    menu {
        padding: 25px;
    }

    a {
        padding: 15px 50px;
        gap: 10px;
    }
}

@media screen and (max-width: 425px) {
    section {
        gap: 5vh;
        >h1 {
            font-size: 40px;
            letter-spacing: 2px;
            padding: 10px;

            >img {
                height: 40px;
                margin-bottom: 0px;
                margin-left: 10px;
            }

            >div {
                margin-top: -14px;

                >img {
                    width: 10px;
                    margin-right: 2px;
                }
            }
        }

        h2 {
            font-size: 30px;
            letter-spacing: 2px;
        }
    }

    menu {
        padding: 15px;
    }

    a {
        padding: 10px 30px;
        gap: 0px;
    }
}