@mixin headline($fs: 64px, $tf: 1.1, $fb: 1.5) {
    font-size: $fs;
    padding-left: 2%;
    max-width: fit-content;
    color: #e3b212;
    background-image: -webkit-linear-gradient(270deg, #e3b212 0%, #FF8C00 35%, #FF0000 70%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 100ms ease-in-out;

    &:hover {
        transform: scale($tf);
        filter: brightness($fb);
    }
}

section {
    height: 100vh;
    width: 100%;
    background-image: url('./../../assets/img/start.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: (25%, 50%);
    display: flex;
    flex-direction: column;
    gap: 5%;

    >header {
        padding-top: 10%;

        >h1 {
            @include headline($fs: 80px, $tf: 1, $fb: 1);
            cursor: default;
        }
    }

    >nav {

        >a {
            display: flex;
            text-decoration: none;
            max-width: fit-content;
            text-wrap: nowrap;

            >h2 {
                @include headline();
            }
    
            >h3 {
                @include headline($fs: 48px)
            }
        }
    }
}