@mixin headline($fs: 56px, $tf: 1.1, $fb: 1.5) {
    font-size: $fs;
    max-width: fit-content;
    transition: all 100ms ease-in-out;
    font-family: 'Comfortaa', 'Josefin Sans';
    color: white;

    &:hover {
        transform: scale($tf);
        filter: brightness($fb);
    }
}

section {
    height: 100vh;
    width: 100%;
    background-image: url('./../../assets/img/start.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: (25%, 50%);
    display: flex;
    flex-direction: column;
    gap: 8%;
    padding-left: 2%;

    >header {
        padding-top: 10%;

        >h1 {
            @include headline($fs: 80px, $tf: 1, $fb: 1);
            cursor: default;
        }
    }

    >nav {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: fit-content;

        >a {
            display: flex;
            text-decoration: none;
            width: fit-content;
            text-wrap: nowrap;



            >h2 {
                @include headline();
                cursor: pointer;
            }
    
            >h3 {
                @include headline()
            }
        }
    }
}