@import '../../styles.scss';

section {
    @include flex-center();
    height: 100vh;
    width: 100%;
    background-image: url('../../assets/img/board.jpg');

    >app-player {
        position: absolute;
        top: 60px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    button {
        background: linear-gradient(90deg, rgba(235, 52, 96, 1) 0%, rgb(255, 101, 137) 50%, rgba(235, 52, 96, 1) 100%);
        box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.25);

        &:first-of-type {
            position: absolute;
            bottom: 25px;
            right: 25px;
        }

        &:last-of-type {
            position: absolute;
            bottom: 25px;
            right: 100px;
        }
    }

    >img {
        height: 30px;
        position: absolute;
        right: 5px;
        transition: all 100ms ease-in-out;

        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }
}

.sidenav-ui {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: fit-content;
    position: fixed;
    bottom: 0;
    right: 0;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.25);
    background: linear-gradient(90deg, rgba(235, 52, 96, 1) 0%, rgb(255, 101, 137) 50%, rgba(235, 52, 96, 1) 100%);

    >button {
        width: 50%;
        border-radius: 0;
        width: 100%;
        background: linear-gradient(90deg, rgba(235, 52, 96, 1) 0%, rgb(255, 101, 137) 50%, rgba(235, 52, 96, 1) 100%);
    }
}

.player-container {
    @include flex-center();
    flex-direction: column;
    min-width: 150px;
    gap: 25px;
    background: linear-gradient(90deg, rgba(235, 52, 96, 1) 0%, rgb(255, 101, 137) 50%, rgba(235, 52, 96, 1) 100%);
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.25);

    @media screen and (max-width: 568px) {
        margin-bottom: 111px;
    }
}

.card-stack {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -64px;
    margin-left: -44px;
    transform: translate(-50%, -50%);

    >img {
        height: 128px;
        position: absolute;
    }
}

.card-amount {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 95px;
    font-size: 24px;

    @media screen and (max-width: 768px) {
        margin-left: 0;
        position: static;
        transform: none;
        padding: 17.5px 0;
    }
}

.top-card {
    cursor: pointer;
    transition: all 100ms ease-in-out;

    &:hover {
        transform: translate(6px, -4px) scale(1.05);
    }
}

.take-card {
    transition: all 100ms ease-in-out;
    animation: forwards take-card-animation 1s ease-in-out;
}

.played-card {
    left: 12px;
    transform: translate(-9px, -150px) rotate(-0.5deg);
}

.replay-button {
    cursor: pointer;
    transition: all 100ms ease-in-out;

    &:hover {
        transform: scale(1.1) rotate(-270deg);
    }
}

.confirmation {
    position: absolute;
    bottom: 150px;
    left: 50%;
    margin-left: -70.5px;
    z-index: 1;
    background-color: lightgray;
    padding: 10px 25px;
    border-radius: 10px;
}

@keyframes take-card-animation {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.5);
    }

    60% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1) translate(-9px, -150px) rotate(-0.5deg);
    }
}