@import '../../styles.scss';

section {
    @include flex-center();
    height: 100vh;
    width: 100%;
    background-image: url('../../assets/img/board.jpg');

    button {
        position: absolute;
        bottom: 25px;
        right: 25px;
    }
}

.player-container {
    @include flex-center();
    position: absolute;
    top: 25px;
    gap: 25px;
}

.card-stack {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -64px;
    margin-left: -44px;
    transform: translate(-50%, -50%);

    >img {
        height: 128px;
        position: absolute;
    }
}

.top-card {
    cursor: pointer;
    transition: all 100ms ease-in-out;

    &:hover {
        transform: translate(6px, -4px) scale(1.05);
    }
}

.take-card {
    transition: all 100ms ease-in-out;
    animation: forwards take-card-animation 1s ease-in-out;
}

.played-card {
    left: 12px;
    transform: translate(-150px, -150px) rotate(-10deg);
}

@keyframes take-card-animation {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.5);
    }

    60% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1) translate(-150px, -150px) rotate(-10deg);
    }
}