@import '../../../styles.scss';

div {
    @include flex-center();
    flex-direction: column;
    gap: 12px;
    >img {
        border: 5px solid;
        border-radius: 100%;
        height: 75px;
    }

    >span {
        font-size: 18px;
        color: white;
    }
}