section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 7px;
    width: 100%;
    height: 100vh;
    gap: 25px;
    text-align: center;
    background: linear-gradient(90deg, rgba(235, 52, 96, 1) 0%, rgb(255, 101, 137) 50%, rgba(235, 52, 96, 1) 100%);

    >h1 {
        font-size: 44px;
    }

    >h2 {
        font-size: 38px;
    }

    >h3 {
        font-size: 32px;
    }

    >p {
        font-size: 16px;

        >a {
            font-size: 16px;
        }
    }
}