mat-card {
    position: absolute;
    bottom: 25px;
    left: 50%;
    max-width: 40%;
    transform: translate(-50%);
    background: linear-gradient(90deg, rgba(235,52,96,1) 0%, rgb(255, 101, 137) 50%, rgba(235,52,96,1) 100%);
}

@media screen and (max-width: 568px){
    mat-card {
        bottom: 5px;
        max-width: unset;
        width: 80%;
        height: fit-content;
        max-height: 225px;
        overflow-y: auto;
    }
}