<mat-card>
    <mat-card-header>
        @if (card) {
            <mat-card-title>{{title}}</mat-card-title>
        }
        @else if (gameComponent.players.length === 0) {
            <mat-card-title>Add a player</mat-card-title>
        }
        @else if (gameComponent.stack.length > 0) {
            <mat-card-title>Pick a card</mat-card-title>
        }
        @else {
            <mat-card-title>Play again</mat-card-title>
        }
    </mat-card-header>
    @if (card) {
        <mat-card-content>{{description }}</mat-card-content>
    }
    @else if (gameComponent.players.length === 0) {
        <mat-card-content>Share the link with your friends and add them to the game.</mat-card-content>
    }
    @else if (gameComponent.stack.length > 0) {
        <mat-card-content>Click on the card stack to start a new game.</mat-card-content>
    }
    @else {
        <mat-card-content>Play again by clicking on the button in the middle of the screen.</mat-card-content>
    }
</mat-card>