@mixin flex-center($d: flex, $jc: center, $ai: center) {
  display: $d;
  justify-content: $jc;
  align-items: $ai;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter' !important;
  color: black;
}

body {
  overflow-x: hidden;
  height: 100vh;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #882C4B;
}

*::-webkit-scrollbar-track:hover {
  background-color: #882C4B;
}

*::-webkit-scrollbar-track:active {
  background-color: #882C4B;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #FF6589;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #FF6589;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #FF6589;
}

/* inter-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/inter-v13-latin-regular.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('assets/fonts/inter-v13-latin-regular.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* inter-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/inter-v13-latin-700.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('assets/fonts/inter-v13-latin-700.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}